@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  color: #000;
  min-width: 320px;
  font-weight: 400;
  line-height: 0.725;
  font-family: "Bebas Neue", Arial, sans-serif;
}
a {
  color: #000;
  transition: text-decoration-color 0.3s ease 0s;
  will-change: text-decoration-color;
}
a:hover {
  text-decoration-color: transparent;
}
.layout {
  padding: 12px;
  margin: 0 auto;
  max-width: 768px;
}

.header {
  display: flex;
}
.header h1 {
  margin: 0;
  font-size: 83px;
  font-weight: 400;
  line-height: 66px;
  padding-right: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.header img {
  width: 120px;
  height: 120px;
  display: block;
  object-fit: cover;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 57px;
    transform: none;
    letter-spacing: 0;
    line-height: 42px;
  }
  .header img {
    width: 80px;
    height: 80px;
  }
}

.article {
  margin-top: 60px;
}
.article time {
  white-space: nowrap;
}
.article h2 {
  font-size: 32px;
  margin: 0 0 12px;
  text-transform: uppercase;
}
.article p {
  font-size: 16px;
  margin: 4px 0 0;
  line-height: 21px;
  font-family: Inter, sans-serif;
}
.article ul {
  margin: 20px 0 0;
}
.article li {
  font-size: 16px;
  margin: 0 0 4px;
  line-height: 1.2;
  font-family: Inter, sans-serif;
}
.highlighted {
  background: #f6f6f6;
  margin-left: -12px;
  margin-right: -12px;
  padding: 20px 12px;
}
@media (max-width: 768px) {
  .article h2 {
    font-size: 38px;
  }
  .article p {
    font-size: 20px;
    line-height: 24px;
  }
  .article .m-smaller {
    font-size: 16px;
    line-height: 1.2;
  }
}

.details {
  padding-left: 20px;
}
@media (max-width: 768px) {
  .details li {
    margin-bottom: 12px;
  }
}

.double {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.double li {
  flex: 0 0 50%;
}
@media (max-width: 768px) {
  .double li {
    flex: 0 0 100%;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list h3 {
  font-size: 24px;
  margin: 0 0 4px;
  font-weight: 400;
  font-family: "Bebas Neue", Arial, sans-serif;
}
.list > li {
  margin-bottom: 36px;
}
.list > li:last-child {
  margin-bottom: 0;
}
.list ul {
  max-width: 50%;
  list-style: disc;
  margin-top: 12px;
  padding-left: 20px;
}
.list ul li {
  font-size: 14px;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .list ul {
    max-width: 100%;
  }
  .list h3 {
    font-size: 28px;
    line-height: 26px;
    margin-bottom: 8px;
  }
}

.footer {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.footer a {
  font-size: 14px;
  font-family: Inter, sans-serif;
}
